html {
	/* CHANGES DEFAULT TYPEFACES */
	font-family: "alize",serif;
	font-size: 137.5%;
	-webkit-font-smoothing: antialiased;
	color: #e0e0e0;
}

img {
    max-width: 100%;
    height: auto;
}

.carousel-inner > .item > img{
    width:700px;
    height:500px;
}

#icon {
	height: 150px;
	width: 150px;
	padding: 15px;
	align: center;
}

body {
	background-size:160px 160px;
	background-position:0 0,80px 80px;
    font-size: 1.5em;
	background-image: url("Background.jpg");
	background-repeat: repeat;
    
}

footer {
	text-align: center;
}

.tales {
	width: 100%;
}

/* Home page pest list links */
ul#inline li {
    display: inline;
}

ul#inline li a {
    padding: 10px 20px;
}
/* /.Home page pest list links */

/* image appearing on each individual critter page */
#critter-pic {
	border: 5px solid #252525;
	border-radius: 20px; 
	float:left;
	height:250px;
	width:650px;
	margin-bottom: 30px;
	
}
/* /.image appearing on each individual critter page */

/* Button styles */
.menu-btn {
	background-color: transparent;
	border-color: #f6ee20;
	border-width: 2px;
	color: #f6ee20 !important;
	text-transform: uppercase;
	padding: 10px;
}

.header-btn {
	background-color: transparent;
	border-color: #f6ee20;
	border-width: 2px;
	color: #f6ee20 !important;
	text-transform: uppercase;
	padding: 5px;
}

.jumbo-btn {
	background-color: transparent;
	border-color: #f6ee20;
	border-width: 2px;
	color: #f6ee20 !important;
	text-transform: uppercase;
	padding: 5px;
	font-size: 0.5em;
}

.menu-btn:hover {
   background-color: #f6ee20;
   border-color: #fCf426;
   color: #1E4D68 !important;
}

.header-btn:hover {
   background-color: #f6ee20;
   border-color: #fCf426;
   color: #1E4D68 !important;
}

.jumbo-btn:hover {
   background-color: #f6ee20;
   border-color: #fCf426;
   color: #1E4D68 !important;
}

.btn:active {
box-shadow: none;
   background-color: #D6CE00;
   border-color: #D6CE00;
   color: #1E4D68 !important;
}

.btn:active:focus {
   background-color: #D6CE00;
   border-color: #D6CE00;
   color: #1E4D68 !important;
}
/* /.Button styles */

/*centers the logo and title inside the BANNER ROW*/
.centerbanner {
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    max-height: 450px;
}
/* Jumbotron styles */

.jumbotron{
	/* Jumbotron styles */
	position: relative;
	padding: 10px !important;
	margin-top: 5px !important;
	background: -webkit-linear-gradient(bottom, #1E4D68, #2E5D78); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom, #1E4D68, #2E5D78); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom, #1E4D68, #2E5D78); /* For Firefox 3.6 to 15 */
	background: linear-gradient(bottom, #1E4D68, #2E5D78); /* Standard syntax (must be last) */
	background-color:#1E4D68;
	background-image:repeating-linear-gradient(135deg,transparent,transparent 5px,#2E5D78 10px);
	text-align: center;
	margin-bottom: 0 !important;
	box-shadow: 0px 5px 10px #252525;
	min-height: 400px;
	color: #e0e0e0
}

#jumbo-side{
	position: relative;
	margin-top: 5px !important;
	background: -webkit-linear-gradient(bottom, #1E4D68, #2E5D78); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom, #1E4D68, #2E5D78); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom, #1E4D68, #2E5D78); /* For Firefox 3.6 to 15 */
	background: linear-gradient(bottom, #1E4D68, #2E5D78); /* Standard syntax (must be last) */
	background-color:#1E4D68;
	background-image:repeating-linear-gradient(135deg,transparent,transparent 5px,#2E5D78 10px);
	text-align:center;
	margin-bottom: 0 !important;
	box-shadow: 0px 5px 10px #252525;
	min-height: 870px;
    color: #e0e0e0
}

#jumbo-pricing{
	margin-top:70px !important;
	background: -webkit-linear-gradient(bottom, #1E4D68, #2E5D78); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom, #1E4D68, #2E5D78); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom, #1E4D68, #2E5D78); /* For Firefox 3.6 to 15 */
	background: linear-gradient(bottom, #1E4D68, #2E5D78); /* Standard syntax (must be last) */
	background-color:#1E4D68;
	background-image:repeating-linear-gradient(135deg,transparent,transparent 5px,#2E5D78 10px);
	text-align:center;
	margin-bottom: 50%;
	width: 100%;
	box-shadow: 0px 5px 10px #252525;
	color: #e0e0e0

}
/* /.Jumbotron styles */

/* Copy & Lists */
p {
 line-height: 1.5rem;
 margin-top: 1.5rem;
 margin-bottom: 0;
 font-size: 1.25em;
}

p2 {
 line-height: 1.5rem;
 margin-top: 1.5rem;
 margin-bottom: 0;
 font-size: .5em;
}

ul, ol {
 margin-top: 1.5rem;
 margin-bottom: 1.5rem;
    color: #e0e0e0
}
ul li, ol li {
 font-family: "source-code-pro",sans-serif;
 line-height: 1.5rem;
    color: #e0e0e0
}
ul ul, ol ul, ul ol, ol ol {
 margin-top: 0;
 margin-bottom: 0;
    color: #e0e0e0
}

.li {
    color: white!important;
}

blockquote {
 line-height: 1.5rem;
 margin-top: 1.5rem;
 margin-bottom: 1.5rem;
    color: #e0e0e0
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
 /* Change heading typefaces here */
 font-family: "cronos-pro-display",sans-serif;
 margin-top: 1.5rem;
 margin-bottom: 0.2em;
 line-height: 1.5rem;
}
h1 {
 font-size: 4.242rem;
 line-height: 4.5rem;
 margin-top: 3rem;
}
h2 {
 font-size: 2.828rem;
 line-height: 3rem;
 margin-top: 3rem;
}
h3 {
 font-size: 1.414rem;
}
h4 {
 font-size: 0.707rem;
}
h5 {
 font-size: 0.4713333333333333rem;
}
h6 {
 font-size: 0.3535rem;
}
/* Tables */
table {
 margin-top: 1.5rem;
 border-spacing: 0px;
 border-collapse: collapse;
 text-align: center;
}
table td, table th {
 padding: 0;
 line-height: 33px;
}
table.center {
    margin-left:auto; 
    margin-right:auto;
}
  
/* Code blocks */
code {
 vertical-align: bottom;
}
/* Leading paragraph text */
.lead {
 font-size: 1.414rem;
}
/* Hug the block above you */
.hug {
 margin-top: 0;
}

a:link { color: #F6EE20!important; text-decoration: none; font-weight: bold}
a:visited { color: #D6CE00!important;  font-weight: bold}
a:hover { text-decoration: underline;  font-weight: bold}
a:active { color: #D6CE00!important;  font-weight: bold}

#statistics-table-horizontal {
	border-spacing: 5px 10px;
	color: #e0e0e0;
	border-collapse: separate;
}

#statistics-table-vertical {
	border-spacing: 10px 5px;
	color: #e0e0e0;
	border-collapse: separate;
}

#statistics-td-th {
	border: 10px solid transparent;
	background: -webkit-linear-gradient(bottom, #252525, #303030); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom, #252525, #303030); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom, #252525, #303030); /* For Firefox 3.6 to 15 */
	background: linear-gradient(bottom, #252525, #303030); /* Standard syntax (must be last) */
	border-radius: 50px;
}

/* LINKS */
a:link { color: #666666; text-decoration: none; }
a:visited { color: #333333; }
a:hover { text-decoration: underline; }
a:active { color: #000000; }

.statsimg {
  height: auto;
  width: 30%;
    position: relative;
    padding: 10px !important;
    margin-top: 70px;
    background: -webkit-linear-gradient(bottom, #43ACE8, #47B5F5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #43ACE8, #47B5F5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #43ACE8, #47B5F5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(bottom, #43ACE8, #47B5F5); /* Standard syntax (must be last) */
    background-color:#43ACE8;background-image:repeating-linear-gradient(135deg,transparent,transparent 5px,#40A9E5 10px);
    text-align: center;
    box-shadow: 0px 5px 10px #d0d0d0;
    margin-bottom: 0 !important;
    border-radius: 10px;
}

.statsimg-wide {
    height: auto;
    width: auto;
    position: relative;
    padding: 10px !important;
    margin-top: 70px;
    background: -webkit-linear-gradient(bottom, #43ACE8, #47B5F5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #43ACE8, #47B5F5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #43ACE8, #47B5F5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(bottom, #43ACE8, #47B5F5); /* Standard syntax (must be last) */
    background-color:#43ACE8;background-image:repeating-linear-gradient(135deg,transparent,transparent 5px,#40A9E5 10px);
    text-align: left;
    box-shadow: 0px 5px 10px #d0d0d0;
    margin-bottom: 0 !important;
    border-radius: 10px;
}

.footer-style {
    width: 100%;
    height: 100px;
    background-color:#1E4D68;
    background-image:repeating-linear-gradient(185deg,transparent,transparent 5px,#2E5D78 100px);
    margin-top: 10%
}